MINIO_ENDPOINT=tu-host-o-ip:30090
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=tu-access-key
MINIO_SECRET_KEY=tu-secret-key
DUCKDB_BUILD_DATABASE_PATH=/data/agro_build.duckdb
DUCKDB_API_DATABASE_PATH=/data/agro_api_snapshot.duckdb
SISAP_PRECIOS_PARQUET_GLOB=s3://agro-productos/Landing/sisap/precios_diarios_mercado_lima/fecha_particion=2024-11-30/part-*.parquet
SISAP_VOLUMEN_PARQUET_GLOB=s3://agro-productos/Landing/sisap/volumen_diario_mercado_lima/fecha_particion=2025-05-31/part-*.parquet
