MINIO_ENDPOINT=tu-host-o-ip:30090
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=tu-access-key
MINIO_SECRET_KEY=tu-secret-key
DUCKDB_BUILD_DATABASE_PATH=/data/agro_build.duckdb
DUCKDB_API_DATABASE_PATH=/data/agro_api_snapshot.duckdb
