NODE_ENV=development
PORT=3001
API_PREFIX=/api
DATA_SOURCE=postgres
DUCKDB_DATABASE_PATH=../db/duckdb/runtime/data/agro_api_snapshot.duckdb
DUCKDB_INIT_SQL_PATH=../db/duckdb/runtime/sql/00-node-backend-init.sql
POSTGRES_URL=postgresql://postgres.ifhwumuqsmofhqhaqwhe:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres
POSTGRES_SCHEMA=serving
POSTGRES_SSL=true
